{% use 'bootstrap_4_layout.html.twig' %}
{% block datetime_widget -%}
    {%- if widget != 'single_text' and not valid -%}
        {{- parent() -}}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline datetimepicker-input'|trim), 'data-target': '#'~id~'_DatePicker' }) -%}
    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group date" id="{{id~'_DatePicker'}}" data-target-input="nearest">
                {{- block('form_widget_simple') -}}
                <div class="input-group-append" data-target="#{{id~'_DatePicker'}}" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
{%- endblock datetime_widget %}